body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  margin: 10px;
  padding: 20px;
  background-color: lightblue;
  text-align: center;
}

.pixel {
  width: 100px;
}

.pourcentage {
  width: 50%;
}

.viewport-vh {
  height: 50vh;
}

.viewport-vw {
  width: 50vw;
}

.em {
  font-size: 2em;
}

.rem {
  font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Répartition de l'espace en fractions */
  gap: 10px;
}

.grid-item {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
