/* Fichier CSS pour styliser le formulaire */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.styled-form {
    max-width: 400px;
    padding: 20px;
    border: 2px solid #a635aa;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #743485;
    color: rgb(223, 198, 198);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffffff;
}